body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.container {
  max-width: 1000px;
  min-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

label {
  display: block;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
}

button {
  width: 70px;
  height: 35.5px;
  border: none;
  border-radius: 4px;
  color: #000;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
